.order {
    border: 2px solid #d4cece;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .info {
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
  }
  
  .box label {
    font-size: small;
    color: grey;
    padding-bottom: -10px;
  }
  
  .btn {
    background-color: white;
    color: #2d68ff;
    font-size: large;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .show {
    border-top: 2px solid #d4cece;
  
    display: block;
  }
  
  .hide {
    display: none;
  }
  