.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  height: 600px;
  width: 600px;
  /* max-width: 100%; */
  /* padding: 10px; */
  /* display: block; */
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
}

.selected__img {
  /* width: 100%; */
  /* display: block; */
  height: 100%;
  max-width: 100%;
  /* -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;  */
 /* display: flex; */
}

.img__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  /* -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; */
  margin-right: 16px;
  flex-shrink: 0;
}

.box_1 {
  /* display: flex; */
  /* flex-direction: row; */
  display: flex;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.box_1_selected {
  display: flex;

  height: 100px;
  width: 100px;
  cursor: pointer;
  border: 2px solid black;
}

.img {
  height: 100%;
  max-width: 100%;

  /* width: 100%; */
}

.img__1 {
  height: 100%;
  max-width: 100%;

  /* width: 100%; */
}
