.count {
  height: 25px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #001834;
  border-radius: 10px;
}

.wrapper {
  background-color: white;
  border-radius: 10px;
  margin: 40px;
  display: flex;
  padding: 10px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info p {
  font-size: 18px;
  font-weight: 600;
}

.info_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  width: 100px;
  height: 100px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-right: 16px;
  flex-shrink: 0;
}

.image {
  margin-top: 20px;
  height: 100%;
}

.button {
  border: none;
  cursor: pointer;
  background-color: #001834;
  color: white;
  font-size: 20px;
}


.button__delete {
  margin-top: -5px;
  color: red;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;

}
